/*------------------------------- ROOTS / IMPORTS -------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Oswald:400,700|Raleway:400,900');
/*------------------------------- COLORS -------------------------------*/

.bg-color-name-title {
    background-color: #212121;
}

.ui-menu-color-home,
.hvr-shutter-out-horizontal-home {
    background-color: #E67E22;
}

.ui-menu-color-resume,
.hvr-shutter-out-horizontal-resume {
    background-color: #9B59B6;
}

.ui-menu-color-contact,
.hvr-shutter-out-horizontal-contact {
    background-color: #3498DB;
}

.ui-menu-color-cv,
.hvr-shutter-out-horizontal-cv {
    background-color: #525252;
}

/*------------------------------- HEADER -------------------------------*/

header {
    margin: 0;
}

.heading {
    margin-left: 50px;
}

.logo {
    background: url("../images/rosie.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 360px;
    /*width: 348px;*/
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
}

.name,
.title {
    color: #FFFFFF;
}

.name {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 45px;
    margin-top: 50px;
}

.title {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 90px;
}

#nav {
    margin: 0;
}

#nav li {
    padding: 0;
}

.menu-item {
    height: 120px;
    text-align: center;
    padding: 0;
}

.menu-item a {
    width: 100%;
    text-decoration: none;
    color: #FFFFFF;
    height: 120px;
}

.menu-item a i {
    padding-top: 22px;
    display: block;
    color: #FAFAFA;
    font-size: 26px;
}

.menu-item span {
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
}

.nav-shadow {
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.75);
}

/*------------------------------- HOVER.css -------------------------------*/

.hvr-shutter-out-horizontal::before {
    background-color: rgba(255, 255, 255, 0.25);
}